@font-face {
    font-family: 'iA Writer Quattro';
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/iAWriterQuattroS-Regular.woff2") format("woff2"),url("/fonts/iAWriterQuattroS-Regular.woff") format("woff")
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: 'iA Writer Quattro';
    src: url("/fonts/iAWriterQuattroS-Italic.woff2") format("woff2"),url("/fonts/iAWriterQuattroS-Italic.woff") format("woff")
}

@font-face {
    font-family: 'iA Writer Quattro';
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/iAWriterQuattroS-Bold.woff2") format("woff2"),url("/fonts/iAWriterQuattroS-Bold.woff") format("woff")
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: 'iA Writer Quattro';
    src: url("/fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2"),url("/fonts/iAWriterQuattroS-BoldItalic.woff") format("woff")
}

* {
    box-sizing: border-box
}

body {
    color: #333;
    font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility
}

a {
    color: #333;
    cursor: pointer;
    -webkit-transition: color 200ms;
    transition: color 200ms
}

a:hover {
    color: #000
}

p {
    margin: 0
}

p+p,ul+p,ol+p {
    margin-top: 1.5em
}

h1+p,h2+p,h3+p {
    margin-top: 1em
}

h1,h2,h3 {
    font-family: 'Chronicle Display A', 'Chronicle Display B';
    font-weight: 800;
    line-height: 1.25;
    margin: 0
}

h1 {
    font-size: 60px;
    line-height: 1.1
}

@media screen and (max-width: 400px) {
    h1 {
        font-size:54px
    }
}

h1+h2 {
    margin-top: 1em
}

h2 {
    font-size: 48px;
    margin-top: 2em
}

h3 {
    font-size: 36px;
    margin-top: 2em
}

ul,ol {
    padding-left: 1.5em;
    margin: 0
}

label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    white-space: nowrap
}

input,textarea {
    -webkit-appearance: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    outline: none
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #ddd
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #ddd
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #ddd
}

input::-ms-input-placeholder,textarea::-ms-input-placeholder {
    color: #ddd
}

input::placeholder,textarea::placeholder {
    color: #ddd
}

textarea {
    resize: none
}

code {
    background-color: #f5f5f5;
    font-family: 'iA Writer Quattro';
    padding: 0 2px;
    white-space: pre-wrap
}

img {
    max-width: 100%
}

strong {
    font-weight: 600
}

.wrapper {
    padding-left: 24px;
    padding-right: 24px
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px
}

.max-ten {
    max-width: 924px
}

.max-eight {
    max-width: 728px
}

.max-six {
    max-width: 532px
}

.max-four {
    max-width: 336px
}

.max-two {
    max-width: 140px
}

.header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-top: 24px;
    position: relative
}

.hero {
    margin: 240px 0;
    text-align: center
}

@media screen and (max-width: 420px) {
    .hero {
        margin:120px 0
    }
}

@media screen and (max-width: 728px) {
    .hero {
        text-align:left;
        margin-bottom: 80px
    }
}

@media screen and (max-width: 800px) {
    .hero br {
        display:none
    }
}

.hero_description {
    font-size: 21px;
    margin-top: 24px
}

@media screen and (max-width: 420px) {
    .hero_description {
        font-size:18px
    }
}

.nav {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    font-size: 16px
}

.nav_item {
    text-decoration: none
}

.nav_item:not(:first-child) {
    margin-left: 24px
}

.nav_item.-active {
    font-weight: 600
}

.tabs {
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: flex;
    font-size: 16px;
    margin-top: 40px
}

.tab {
    color: #999;
    line-height: 32px;
    margin-right: 24px;
    text-decoration: none
}

.tab.-active {
    border-bottom: 1px solid #333;
    color: inherit;
    margin-bottom: -1px
}

.browser {
    border-radius: 8px;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.05);
    margin: 80px auto;
    max-width: 924px;
    overflow: hidden
}

.browser_header {
    -webkit-box-align: center;
    align-items: center;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f5f5f5));
    background-image: linear-gradient(-180deg, #f7f7f7 0%, #f5f5f5 100%);
    display: -webkit-box;
    display: flex;
    height: 32px;
    padding: 0 18px
}

.browser_buttons {
    display: -webkit-box;
    display: flex;
    margin-right: auto
}

.browser_button {
    background-color: #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 8px
}

.browser_page {
    background-color: #fff
}

.browser+* {
    margin-top: 72px
}

.browser img {
    display: block
}

@media screen and (min-width: 640px) {
    .plans {
        display:-webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between
    }
}

.plans ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: auto
}

.plans li {
    position: relative
}

.plans li:before {
    content: '';
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    display: inline-block;
    height: 8px;
    left: -16px;
    position: absolute;
    top: 7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 4px
}

.plan {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start
}

.site-logo {
    max-height: 40px;
    max-width: 240px
}

.avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%
}

.notice {
    background-color: #ffffde;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 24px;
    padding: 12px;
    text-align: center
}

.input {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    color: #333;
    height: 48px;
    font-family: inherit;
    font-size: 18px;
    letter-spacing: inherit;
    outline: none;
    padding: 0 12px;
    -webkit-transition: border-color 200ms;
    transition: border-color 200ms;
    width: 100%
}

.input.-error {
    border-color: #ff9999
}

.input.-error:focus {
    border-color: #f04242
}

.input.-small {
    height: 40px;
    font-size: 16px
}

.input.-big {
    height: 56px;
    font-size: 21px;
    padding: 0 18px
}

.input.-code {
    font-size: 14px;
    font-family: 'iA Writer Quattro';
    white-space: nowrap;
    overflow-x: auto !important
}

.input:focus,.input.-focus {
    border-color: #333
}

.input[disabled],.input[readonly] {
    background-color: #f5f5f5;
    color: #999
}

textarea.input {
    display: block;
    min-height: 72px;
    line-height: 1.5;
    padding-top: 8px;
    padding-bottom: 8px
}

textarea.input.-small {
    min-height: 66px
}

.field {
    position: relative;
    width: 100%
}

.field:not(.-inline)+.field:not(.-inline) {
    margin-top: 24px
}

.field.-inline+.field.-inline {
    margin-left: 24px
}

.field_error {
    color: #f04242;
    display: block;
    font-size: 14px
}

.field_help {
    color: #999;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 4px
}

.field_prefix,.field_suffix {
    color: #999;
    display: block;
    font-weight: inherit;
    font-size: inherit;
    left: 12px;
    position: absolute;
    top: 33px
}

.field_suffix {
    left: auto;
    right: 12px
}

.button {
    background-color: #333;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    outline: none;
    padding: 0 24px;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap
}

.button:hover,.button:focus {
    background-color: #262626;
    color: #fff;
    text-decoration: none
}

.button:active {
    background-color: black
}

.button.-secondary {
    background-color: #f5f5f5;
    color: #333
}

.button.-secondary:hover,.button.-secondary:focus {
    background-color: #ededed
}

.button.-secondary:active {
    background-color: #e6e6e6
}

.button.-secondary[disabled] {
    background-color: #f5f5f5;
    color: #999
}

.button.-destructive {
    background-color: transparent;
    color: #f04242;
    font-weight: 400
}

.button.-destructive:hover,.button.-destructive:focus {
    background-color: #f04242;
    color: #fff
}

.button.-destructive:active {
    background-color: #ec1313;
    color: #fff
}

.button.-destructive[disabled] {
    background-color: transparent;
    opacity: 0.5
}

.button.-small {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 16px
}

.button.-smaller {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px
}

.button.-big {
    font-size: 21px;
    height: 56px;
    line-height: 56px
}

.button.-wide {
    width: 100%
}

.button.-dropdown {
    padding-right: 32px;
    position: relative
}

.button.-dropdown:after {
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 14px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 200ms;
    transition: all 200ms;
    width: 5px
}

.button.-dropdown-open:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.button[disabled] {
    background-color: #999;
    cursor: default;
    pointer-events: none
}

.button svg {
    vertical-align: middle
}

.checkbox,.radio {
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding-left: 24px;
    position: relative
}

.checkbox input[type=checkbox],.checkbox input[type=radio],.radio input[type=checkbox],.radio input[type=radio] {
    display: none
}

.checkbox+.checkbox,.checkbox+.radio,.radio+.checkbox,.radio+.radio {
    margin-top: 16px
}

.checkbox:not(.-disabled):hover:before,.radio:not(.-disabled):hover:before {
    border-color: #999
}

.checkbox.-checked:after,.radio.-checked:after {
    opacity: 1;
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1)
}

.checkbox.-disabled,.radio.-disabled {
    color: #999
}

.checkbox.-disabled:after,.radio.-disabled:after {
    opacity: .5;
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1)
}

.checkbox:before,.radio:before {
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #ddd;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    height: 18px;
    left: 0;
    margin-right: 6px;
    position: absolute;
    top: 0;
    -webkit-transition: border 200ms;
    transition: border 200ms;
    width: 18px
}

.checkbox:after,.radio:after {
    content: '';
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out
}

.checkbox:after {
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    height: 8px;
    left: 5px;
    top: 3px;
    -webkit-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg) scale(0.5);
    transform: rotate(45deg) scale(0.5);
    width: 4px
}

.radio:before {
    border-radius: 100%
}

.radio:after {
    background-color: #333;
    border-radius: 8px;
    height: 8px;
    left: 5px;
    top: 5px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    width: 8px
}

.logo {
    height: 30px
}

.logo.-big {
    height: 36px
}

.flash {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 transparent;
    font-size: 16px;
    left: 50%;
    padding: 16px 24px;
    position: fixed;
    text-align: center;
    top: 0;
    -webkit-transform: translateX(-50%) translateY(-150%);
    transform: translateX(-50%) translateY(-150%);
    -webkit-transition: all 750ms cubic-bezier(0.68, -0.25, 0.25, 1.25);
    transition: all 750ms cubic-bezier(0.68, -0.25, 0.25, 1.25);
    will-change: transform;
    z-index: 9
}

.flash.-show {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    -webkit-transform: translateX(-50%) translateY(24px);
    transform: translateX(-50%) translateY(24px)
}

.flash.-alert {
    color: #f04242
}

.flash.-notice {
    color: #00bb6d
}

.list {
    list-style: none;
    margin-top: 40px;
    padding: 0
}

.list_item {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px 0
}

.list_item:not(:first-child) {
    border-top: 1px solid #f5f5f5
}

.list_link {
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-right: 16px
}

.list_title {
    display: block;
    line-height: 1.25;
    font-size: 24px;
    font-weight: 600
}

.list_subtitle {
    color: #999;
    display: block;
    font-size: 14px;
    margin-top: 4px
}

.list a {
    display: block;
    text-decoration: none
}

.editor {
    position: relative
}

.editor:before {
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    bottom: 0;
    color: #999;
    content: 'Drop your images anywhere';
    cursor: copy;
    display: -webkit-box;
    display: flex;
    font-size: 32px;
    -webkit-box-pack: center;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    z-index: 9
}

.editor.-dragging * {
    pointer-events: none
}

.editor.-dragging:before {
    opacity: 0.9
}

.editor_header {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 24px;
    -webkit-transition: box-shadow 300ms,opacity 600ms cubic-bezier(0.5, 0, 0.1, 1),-webkit-transform 600ms cubic-bezier(0.5, 0, 0.1, 1);
    transition: box-shadow 300ms,opacity 600ms cubic-bezier(0.5, 0, 0.1, 1),-webkit-transform 600ms cubic-bezier(0.5, 0, 0.1, 1);
    transition: box-shadow 300ms,opacity 600ms cubic-bezier(0.5, 0, 0.1, 1),transform 600ms cubic-bezier(0.5, 0, 0.1, 1);
    transition: box-shadow 300ms,opacity 600ms cubic-bezier(0.5, 0, 0.1, 1),transform 600ms cubic-bezier(0.5, 0, 0.1, 1),-webkit-transform 600ms cubic-bezier(0.5, 0, 0.1, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1
}

@media screen and (max-width: 2100px) {
    .editor_header {
        background-color:rgba(255,255,255,0.99)
    }

    .editor_header.-scrolled {
        box-shadow: 0 0 4px rgba(0,0,0,0.075)
    }
}

@media screen and (min-height: 900px) {
    .editor_header {
        position:fixed
    }
}

.editor_header.-hidden {
    opacity: 0;
    box-shadow: none;
    -webkit-transform: translate3d(0, -88px, 0);
    transform: translate3d(0, -88px, 0)
}

.editor_header>*:not(:first-child) {
    margin-left: 24px
}

.editor_header>*:first-child {
    margin-right: auto
}

.editor_status {
    color: #999;
    font-size: 14px;
    margin-right: 8px
}

@media screen and (max-width: 728px) {
    .editor_unpublish {
        display:none
    }
}

.editor_content {
    font-family: 'iA Writer Quattro', monospace;
    padding-top: 160px;
    height: 100%
}

.editor_content textarea {
    border: none;
    display: block;
    line-height: 1.75;
    width: 100%
}

.editor_text {
    font-size: 18px;
    min-height: calc(100vh - 196px);
    padding: 0 calc((100vw - 728px - 48px) / 2) 80px
}

.editor_title {
    font-size: 21px;
    font-weight: 700;
    position: relative
}

.editor_title textarea {
    font-weight: inherit
}

.editor_title:before {
    color: #ddd;
    content: '#';
    line-height: 1.75;
    left: -20px;
    top: 0;
    position: absolute
}

.dropdown {
    position: relative
}

.dropdown_content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.1);
    margin-top: 8px;
    padding: 24px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 434px;
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transition: all 400ms cubic-bezier(0.5, 0, 0.1, 1.2);
    transition: all 400ms cubic-bezier(0.5, 0, 0.1, 1.2);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    will-change: transform, opacity;
    z-index: 1
}

.dropdown_content:not(.-active) {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: perspective(1000px) scale(0.95) rotateX(-10deg);
    transform: perspective(1000px) scale(0.95) rotateX(-10deg)
}

.select,select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f5f5f5;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs"><path d="M6 9l6 6 6-6"/></svg>');
    background-position: right 8px top 50%, 0 0;
    background-repeat: no-repeat, repeat;
    border-radius: 6px;
    border: none;
    color: #333;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    outline: none;
    padding: 0 36px 0 17px;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%
}

.select.-small,select.-small {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 13px
}

.select:hover,.select:focus,select:hover,select:focus {
    background-color: #ededed;
    text-decoration: none
}

.select:active,select:active {
    background-color: #e6e6e6
}

.select[disabled],select[disabled] {
    background-color: #f5f5f5;
    color: #999
}

.select::-ms-expand,select::-ms-expand {
    display: none
}

.text-bigger {
    font-size: 24px
}

.text-big {
    font-size: 21px
}

.text-small {
    font-size: 16px
}

.text-smaller {
    font-size: 14px
}

.text-tiny {
    font-size: 12px
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-light {
    color: #999
}

.text-lighter {
    color: #ddd
}

.text-red {
    color: #f04242
}

.text-thin {
    font-weight: 300
}

.text-normal {
    font-weight: 400
}

.text-medium {
    font-weight: 500
}

.text-semibold {
    font-weight: 600
}

.text-bold {
    font-weight: 700
}

.text-italic {
    font-style: italic
}

.text-decoration-none {
    text-decoration: none
}

.capitalized {
    text-transform: capitalize
}

.uppercase {
    text-transform: uppercase
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.clear {
    clear: both
}

.background {
    background-color: #f5f5f5
}

.wide {
    width: 100%
}

.margin-top-smaller {
    margin-top: 8px
}

.margin-top-small {
    margin-top: 16px
}

.margin-top-medium {
    margin-top: 24px
}

.margin-top-big {
    margin-top: 32px
}

.margin-top-bigger {
    margin-top: 40px
}

.margin-top-huge {
    margin-top: 80px
}

.margin-top-huger {
    margin-top: 120px
}

.margin-top-gigantic {
    margin-top: 160px
}

.margin-bottom-smaller {
    margin-bottom: 8px
}

.margin-bottom-small {
    margin-bottom: 16px
}

.margin-bottom-medium {
    margin-bottom: 24px
}

.margin-bottom-big {
    margin-bottom: 32px
}

.margin-bottom-bigger {
    margin-bottom: 40px
}

.margin-bottom-huge {
    margin-bottom: 80px
}

.margin-bottom-huger {
    margin-bottom: 120px
}

.margin-bottom-gigantic {
    margin-bottom: 160px
}

.margin-left-smaller {
    margin-left: 8px
}

.margin-left-small {
    margin-left: 16px
}

.margin-left-medium {
    margin-left: 24px
}

.margin-left-big {
    margin-left: 32px
}

.margin-left-bigger {
    margin-left: 40px
}

.margin-left-huge {
    margin-left: 80px
}

.margin-left-gigantic {
    margin-left: 160px
}

.margin-right-smaller {
    margin-right: 8px
}

.margin-right-small {
    margin-right: 16px
}

.margin-right-medium {
    margin-right: 24px
}

.margin-right-big {
    margin-right: 32px
}

.margin-right-bigger {
    margin-right: 40px
}

.margin-right-huge {
    margin-right: 80px
}

.margin-right-gigantic {
    margin-right: 160px
}

.margin-vertical-smaller {
    margin-bottom: 8px;
    margin-top: 8px
}

.margin-vertical-small {
    margin-bottom: 16px;
    margin-top: 16px
}

.margin-vertical-medium {
    margin-bottom: 24px;
    margin-top: 24px
}

.margin-vertical-big {
    margin-bottom: 32px;
    margin-top: 32px
}

.margin-vertical-bigger {
    margin-bottom: 40px;
    margin-top: 40px
}

.margin-vertical-huge {
    margin-bottom: 80px;
    margin-top: 80px
}

.margin-vertical-gigantic {
    margin-bottom: 160px;
    margin-top: 160px
}

.padding-smaller {
    padding: 8px
}

.padding-small {
    padding: 16px
}

.padding-medium {
    padding: 24px
}

.padding-big {
    padding: 32px
}

.padding-bigger {
    padding: 40px
}

.padding-huge {
    padding: 80px
}

.padding-gigantic {
    padding: 160px
}

.padding-top-smaller {
    padding-top: 8px
}

.padding-top-small {
    padding-top: 16px
}

.padding-top-medium {
    padding-top: 24px
}

.padding-top-big {
    padding-top: 32px
}

.padding-top-bigger {
    padding-top: 40px
}

.padding-top-huge {
    padding-top: 80px
}

.padding-top-gigantic {
    padding-top: 160px
}

.padding-bottom-smaller {
    padding-bottom: 8px
}

.padding-bottom-small {
    padding-bottom: 16px
}

.padding-bottom-medium {
    padding-bottom: 24px
}

.padding-bottom-big {
    padding-bottom: 32px
}

.padding-bottom-bigger {
    padding-bottom: 40px
}

.padding-bottom-huge {
    padding-bottom: 80px
}

.padding-bottom-gigantic {
    padding-bottom: 160px
}

.stack:not(.-horizontal)>*+* {
    margin-top: 24px
}

.stack[class*="stack -"] {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.stack.-align-start {
    -webkit-box-align: start;
    align-items: flex-start
}

.stack.-center {
    -webkit-box-align: center;
    align-items: center
}

.stack.-align-end {
    -webkit-box-align: end;
    align-items: flex-end
}

.stack.-stretch {
    -webkit-box-align: stretch;
    align-items: stretch
}

.stack.-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row
}

.stack.-horizontal>*+* {
    margin-left: 24px
}

.flex {
    display: -webkit-box;
    display: flex
}

.flex.-left {
    -webkit-box-pack: start;
    justify-content: flex-start
}

.flex.-center {
    -webkit-box-pack: center;
    justify-content: center
}

.flex.-right {
    -webkit-box-pack: end;
    justify-content: flex-end
}

.flex.-justify {
    -webkit-box-pack: justify;
    justify-content: space-between
}

.flex.-top {
    -webkit-box-align: start;
    align-items: flex-start
}

.flex.-middle {
    -webkit-box-align: center;
    align-items: center
}

.flex.-bottom {
    -webkit-box-align: end;
    align-items: flex-end
}

.flex.-stretch {
    -webkit-box-align: stretch;
    align-items: stretch
}

.hidden {
    display: none
}

.block {
    display: block
}

.grabbable {
    cursor: -webkit-grab;
    cursor: grab
}

.grabbable:active {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.sortable-chosen,.sortable-ghost {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.nice-dates-navigation {
    -webkit-box-align: center;
    align-items: center;
    color: #333;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    text-align: center;
    text-transform: capitalize
}

.nice-dates-navigation_current {
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 16px
}

.nice-dates-navigation_previous,.nice-dates-navigation_next {
    cursor: pointer;
    height: 0;
    padding-bottom: calc(100% / 7);
    position: relative;
    width: calc(100% / 7)
}

.nice-dates-navigation_previous:before,.nice-dates-navigation_next:before {
    border-right: 2px solid #999;
    border-top: 2px solid #999;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 200ms border-color;
    transition: 200ms border-color;
    width: 14px
}

.nice-dates-navigation_previous:hover:before,.nice-dates-navigation_next:hover:before {
    border-color: #333
}

.nice-dates-navigation_previous.-disabled,.nice-dates-navigation_next.-disabled {
    cursor: default;
    pointer-events: none
}

.nice-dates-navigation_previous.-disabled:before,.nice-dates-navigation_next.-disabled:before {
    border-color: #ddd
}

.nice-dates-navigation_previous:before {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.nice-dates-week-header {
    box-shadow: 0 1px 0 rgba(0,0,0,0.06);
    display: -webkit-box;
    display: flex;
    padding: 8px 0
}

.nice-dates-week-header_day {
    color: #999;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    width: calc(100% / 7)
}

.nice-dates-grid {
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.nice-dates-grid_container {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: none;
    transition-property: none;
    will-change: transform
}

.nice-dates-grid_container.-moving .nice-dates-day_date {
    -webkit-transition: 300ms color;
    transition: 300ms color
}

.nice-dates-grid_container.-origin-bottom {
    top: auto;
    bottom: 0
}

.nice-dates-grid_container.-origin-top {
    top: 0;
    bottom: auto
}

.nice-dates-grid_container.-transition {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}

.nice-dates-day {
    border-top: 1px solid transparent;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    text-align: center;
    width: calc(100% / 7);
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.nice-dates-day_date {
    -webkit-transition: 150ms color;
    transition: 150ms color;
    will-change: color;
    z-index: 3
}

.nice-dates-day_month {
    color: #999;
    font-size: 12px;
    left: 0;
    line-height: 1;
    position: absolute;
    right: 0;
    text-transform: capitalize;
    top: 10%;
    z-index: 3
}

.nice-dates-day:before,.nice-dates-day:after {
    border-radius: 999px;
    bottom: 0;
    box-sizing: border-box;
    content: '';
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0
}

.nice-dates-day:before {
    background-color: #333;
    z-index: 1
}

.nice-dates-day:after {
    border: 2px solid #333;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    z-index: 2
}

.nice-dates-day:not(.-disabled):hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

@media (hover: none) {
    .nice-dates-day:after {
        content:none
    }

    .nice-dates-day.-selected * {
        color: #fff
    }
}

.nice-dates-day.-selected:before {
    opacity: 1
}

.nice-dates-day.-selected:hover:after {
    background-color: #fff
}

.nice-dates-day.-selected:not(:hover) *,.nice-dates-day.-selected.-disabled * {
    color: #fff
}

.nice-dates-day.-selected.-selected-start:before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0
}

.nice-dates-day.-selected.-selected-end:before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0
}

.nice-dates-day.-selected.-selected-middle:before {
    border-radius: 0;
    left: 0;
    right: 0
}

.nice-dates-day.-selected.-selected-middle:nth-child(7n+1):before {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

.nice-dates-day.-selected.-selected-middle:not(.-end):nth-child(7n):before {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px
}

.nice-dates-day.-today {
    font-weight: 600
}

.nice-dates-day.-wide:before,.nice-dates-day.-wide:after {
    left: 12.5%;
    right: 12.5%
}

.nice-dates-day.-outside {
    color: #999
}

.nice-dates-day.-disabled {
    cursor: default;
    pointer-events: none;
    color: #ddd
}

.nice-dates-popover {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.12);
    margin: 8px 0;
    max-width: 600px;
    position: absolute;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0.2, 0, 1.1);
    transition-timing-function: cubic-bezier(0.4, 0.2, 0, 1.1);
    width: 100%;
    will-change: transform, opacity;
    z-index: 9
}

.nice-dates-popover:not(.-open) {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: perspective(1000px) rotateX(-15deg);
    transform: perspective(1000px) rotateX(-15deg)
}
